/*-- scss:defaults --*/
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);
@import url(https://fonts.googleapis.com/css?family=Fira+Mono&display=swap);
// fonts
$font-family-sans-serif: "Montserrat", sans-serif !default;
$font-family-monospace: "Fira Mono", monospace !default;
// colors
$body_bg: #ffffff !default;
$boy-color: #272822 !default;
$link-color: #0086AB !default;
// headings
$presentation-heading-font: "Josefin Sans", sans-serif !default;
$presentation-heading-color: #0086AB !default;
$h1-font-size: 1.6em !default;
$h2-font-size: 1.3em !default;
$h3-font-size: 1.15em !default;
$h4-font-size: 1.0em !default;
// code blocks
$code-block-border-color: #93a1a1 !default;
$code-color: #0086AB;
// color system
$white: #ffffff !default;

/*-- scss:rules --*/
